h5 Comments:
- @comments.all.each do |comment|
  p = comment.user.to_s + ': ' + comment.content
  = link_to 'Edit', edit_task_comment_path(@task, comment), class: 'btn btn-dark', style: 'margin-left: 35em'
